.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-center-horizontal {
  justify-content: center;
}
.flex-center-vertical {
  align-items: center;
}
.flex-space-between {
  justify-content: space-between;
}
.self-center-horizontal {
  align-self: center;
}
