// ! BG Colors
$color-primary-1: #5433ff;
$color-primary-2: #20bdff;
$color-primary-3: #a5fecb;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff4500;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #bababa;

$color-grey-dark-1: #747474;
$color-grey-dark-2: #252525;

// ! Row Width
$max-width: 40rem;
