.form {
  position: relative;
  width: $max-width;
  height: 75vh;
  padding: 3rem;
  background-color: $color-white;
  box-shadow: 0 0 1rem rgba($color-black, 0.5), 0 0 2rem rgba($color-black, 0.3);
  font-size: 1.7rem;
  overflow: hidden;
  color: $color-grey-dark-1;
  transition: all 0.3s ease;
  @include respond(tab-portrait) {
    width: 70%;
    height: 75vh;
  }
  @include respond(phone-landscape) {
    width: 100%;
    height: 97vh;
  }
  @include respond(phone-portrait) {
    width: 100%;
    height: 75vh;
  }

  &__heading-box {
    text-align: center;
    margin-bottom: 3rem;
    @include respond(tab-portrait) {
      margin-bottom: 4rem;
    }
    @include respond(phone-landscape) {
      margin-bottom: 0;
    }
    @include respond(phone-portrait) {
      margin-bottom: 2rem;
    }
  }
  // &__inputs-box {
  // }
  &__input-box {
    margin: 3rem 0;
    height: 6rem;
    &:not(:last-child) {
      position: relative;
    }
    @include respond(phone-portrait) {
      margin: 1rem 0;
      height: 6rem;
    }
  }
  &__btn-box {
    text-align: center;
    margin-top: 2rem;
    @include respond(phone-portrait) {
      margin-top: 1rem;
    }
  }
  &__input {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgba($color-black, 0.15);
    font-size: 1.5rem;
    color: inherit;
    transition: all 0.3s ease;
    &--active {
      background-image: linear-gradient(
        to top,
        $color-grey-light-1,
        transparent
      );
    }
    &:focus {
      border-bottom: 2px solid $color-green-light;
    }
    &:focus:invalid {
      border-bottom: 2px solid $color-orange-dark;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    line-height: 60px;
    transition: all 0.3s ease;
  }
  &__input-checkbox {
    position: relative;
    margin-right: 3rem;
    width: 2rem;
    height: 2rem;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid rgba($color-black, 0.15);
      background-color: $color-white;
    }
    &:valid::before {
      background-color: $color-green-dark;
    }
  }
  &__input-checkbox:valid + &__label {
    color: $color-green-light;
  }
  &__input-box:last-child &__label {
    width: auto;
    position: static;
    font-size: 1.3rem;
  }
  &__input:focus + &__label,
  &__input:valid + &__label {
    transform: translateY(-2.2rem);
    font-size: 1.1rem;
    color: $color-green-light;
  }
  &__input:focus:invalid + &__label {
    transform: translateY(-2.2rem);
    font-size: 1.1rem;
    color: $color-orange-dark;
  }
  &__input--invalid + &__label {
    transform: translateY(-2.2rem);
    font-size: 1.1rem;
    color: $color-orange-dark;
  }
}
.loader {
  position: absolute;
  background-color: $color-grey-dark-2;
  bottom: 0%;
  right: 0%;
  transform: translateY(105%) scale(1.5);
  border-radius: 50%;
  width: 100%;
  height: 50%;
}
